<header>
  <img
  src="assets/img/carina.png"
  alt="Carina Fernandes - foto do perfil"
  width="150px"
  height="150px"
  loading="eager"
  />

  <h1>Carina Fernandes</h1>
</header>

<aside>
  <div class="container">
    <p>Estudante de análise e desenvolvimento de sistemas - SENAC</p>

  <nav>
    <ul>
      <li>
        <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
          CV
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/carina-fernands/" target="_blank" class="btn btn-secondary">
          LinkedIn
        </a>
      </li>

    </ul>
  </nav>
</div>
</aside>
