<footer>
<section>
  <h1>Entre em contato: </h1>
  <figure>
    <img
    src="assets/icons/wpp.svg"
    alt="icone wpp"
    width="40px"
    height="40px"
    />

    <figcaption>
      <a href="https://wa.me/5581999399920?text=Ol%C3%A1%20Carina"
      target="_blank">
      <strong>Envie uma mensagem</strong>
    </a>
    </figcaption>
  </figure>

  <figure>
    <img
    src="assets/icons/email.svg"
    alt="icone email"
    width="40px"
    height="40px"
    />

    <figcaption>
      <a href="mailto:carina.fernandes@outlook.com" target="_blank">
        <strong>Envie um email</strong>
      </a>

    </figcaption>
  </figure>
</section>
</footer>
