<div class="container">
  <h2>Tecnologias</h2>
  <ul>

    <li>
      <img
      src="assets/icons/js.svg"
      alt="JS"
      width="40px"
      height="40px"
      loading="lazy"
      />
    </li>
    <li>
      <img
      src="assets/icons/ts.svg"
      alt="TS"
      width="40px"
      height="40px"
      loading="lazy"
      />
    </li>
    <li>
      <img
      src="assets/icons/angular.svg"
      alt="Angular"
      width="40px"
      height="40px"
      loading="lazy"
      />
    </li>
  </ul>


</div>
